## Dependencies

In [97]:
import pandas as pd

## Read Data

In [129]:
final_output = pd.read_excel('EdChoice Data Format.xlsx')
col_names = final_output.columns.tolist()
final_output

Empty DataFrame
Columns: [Competition, District Name, District IRN, Building Name, Building IRN, Building Adress, Year, Preformance Index, School Type, White, Asian, Black, Hispanic, AYP Met?]
Index: []

## Year 2008 - 2009

In [123]:
# Read data with correct types
dtype_specification = {'Building IRN': str, 'District IRN': str, "Street address":str, 'City and Zip code':str} 
AY2009 = pd.read_excel('./2008-2009/0809_LRC_BUILDING.xls', dtype=dtype_specification)

# Drop bad rows 
AY2009 = AY2009.dropna(subset=[AY2009.columns[0]])
AY2009 = AY2009.dropna(subset=[AY2009.columns[1]])
AY2009 = AY2009.dropna(subset=[AY2009.columns[2]])
AY2009 = AY2009.dropna(subset=[AY2009.columns[3]])


def clean2009(row):
    new_row = ({
        'District Name' : row[3],
        'District IRN' : row[2],
        'Building Name' : row[1],
        'Building IRN' : row[0],
        'Building Adress' : str(row[6])+ " "+str(row[7]),
        'Year':2009,
        'Preformance Index':row[107],
        'School Type': row[10],
        'AYP Met?' : row[110]
    })
    final_output.loc[len(final_output)] = new_row
##    print(new_row)
    return row


AY2009 = AY2009.apply(clean2009, axis=1)
final_output

,Competition,District Name,District IRN,Building Name,Building IRN,Building Adress,Year,Preformance Index,School Type,White,Asian,Black,Hispanic,AYP Met?
0,NaN,Cleveland Municipal,043786,Albert B Hart,000026,"3901 E 74th St Cleveland, OH 44105-3808",2009,55.9,K-8,NaN,NaN,NaN,NaN,Not Met
1,NaN,Ada Exempted Village,045187,Ada Elementary School,000059,"435 Grand Ave Ada, OH 45810-1013",2009,98.0,K-6,NaN,NaN,NaN,NaN,Met
2,NaN,Ada Exempted Village,045187,Ada High School,000067,"435 Grand Ave Ada, OH 45810-1013",2009,95.6,7-12,NaN,NaN,NaN,NaN,NaN
3,NaN,Sandusky City,044743,Adams Junior High School,000083,"318 Columbus Ave Sandusky, OH 44870-2616",2009,87.4,7,NaN,NaN,NaN,NaN,Met
4,NaN,Hamilton City,044107,Adams Elementary School,000091,"450 S F St Hamilton, OH 45013-3245",2009,96.1,K-6,NaN,NaN,NaN,NaN,Met
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3694,NaN,Northwestern Local,050575,Northwestern Elementary School,152116,"7334 N Elyria Rd West Salem, OH 44287-9790",2009,102.9,K-5,NaN,NaN,NaN,NaN,Met
3695,NaN,South-Western City,044800,Hayes Intermediate School,152132,"4436 Haughn Rd Grove City, OH 43123-3219",2009,97.1,5-6,NaN,NaN,NaN,NaN,Met
3696,NaN,Antwerp Local,048991,Antwerp Local Middle School,152157,"303 S. Harrmann Rd Antwerp, OH 45813",2009,NaN,6-8,NaN,NaN,NaN,NaN,NaN
3697,NaN,East Muskingum Local,048835,Larry Miller Intermediate Elementary School,152280,"13125 John Glenn School Rd New Concord, OH 4...",2009,100.2,3-5,NaN,NaN,NaN,NaN,Met
3698,NaN,Jackson City,044156,Jackson Southview Elementary School,152298,"13842 State Route 93 Jackson, OH 45640-9761",2009,97.4,"P,K,1-5,SN",NaN,NaN,NaN,NaN,Met

## Year 2009 - 2010

In [119]:
# Read data with correct types
dtype_specification = {'Building IRN': str, 'District IRN': str, "Street address":str, 'City and Zip code':str} 
AY2010 = pd.read_excel('./2009-2010/0910_LRC_BUILDING.xls', dtype=dtype_specification)

# Drop bad rows 
AY2010 = AY2010.dropna(subset=[AY2010.columns[0]])
AY2010 = AY2010.dropna(subset=[AY2010.columns[1]])
AY2010 = AY2010.dropna(subset=[AY2010.columns[2]])
AY2010 = AY2010.dropna(subset=[AY2010.columns[3]])


def clean2010(row):
    new_row = ({
        'District Name' : row[3],
        'District IRN' : row[2],
        'Building Name' : row[1],
        'Building IRN' : row[0],
        'Building Adress' : str(row[6])+ " "+str(row[7]),
        'Year':2010,
        'Preformance Index':row[95],
        'School Type': row[10],
        'AYP Met?' : row[101]
    })
    final_output.loc[len(final_output)] = new_row
##    print(new_row)
    return row


AY2010 = AY2010.apply(clean2010, axis=1)
final_output

,Competition,District Name,District IRN,Building Name,Building IRN,Building Adress,Year,Preformance Index,School Type,White,Asian,Black,Hispanic,AYP Met?
0,NaN,Cleveland Municipal,043786,Albert B Hart,000026,"3901 E 74th St Cleveland, OH 44105-3808",2010,56.6,K-8,NaN,NaN,NaN,NaN,Not Met
1,NaN,Ada Exempted Village,045187,Ada Elementary School,000059,"435 Grand Ave Ada, OH 45810-1013",2010,99.0,K-6,NaN,NaN,NaN,NaN,Met
2,NaN,Ada Exempted Village,045187,Ada High School,000067,"435 Grand Ave Ada, OH 45810-1013",2010,96.1,7-12,NaN,NaN,NaN,NaN,Met
3,NaN,Sandusky City,044743,Adams Junior High School,000083,"318 Columbus Ave Sandusky, OH 44870-2616",2010,83.7,7-8,NaN,NaN,NaN,NaN,Not Met
4,NaN,Meigs Local,048520,Meigs Primary School,000102,"36871 State Route 124 Middleport, OH 45760-9717",2010,0.0,K-2,NaN,NaN,NaN,NaN,Not Met
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3670,NaN,Northwestern Local,050575,Northwestern Elementary School,152116,"7334 N Elyria Rd West Salem, OH 44287-9790",2010,102.3,K-5,NaN,NaN,NaN,NaN,Met
3671,NaN,South-Western City,044800,Hayes Intermediate School,152132,"4436 Haughn Rd Grove City, OH 43123-3219",2010,100.5,5-6,NaN,NaN,NaN,NaN,Met
3672,NaN,Antwerp Local,048991,Antwerp Local Middle School,152157,"303 S. Harrmann Rd Antwerp, OH 45813",2010,96.9,7-8,NaN,NaN,NaN,NaN,Met
3673,NaN,East Muskingum Local,048835,Larry Miller Intermediate Elementary School,152280,"13125 John Glenn School Rd New Concord, OH 4...",2010,101.1,3-5,NaN,NaN,NaN,NaN,Not Met
3674,NaN,Jackson City,044156,Jackson Southview Elementary School,152298,"13842 State Route 93 Jackson, OH 45640-9761",2010,97.6,"P,K,1-5,SN",NaN,NaN,NaN,NaN,Met

## Year 2010 - 2011

In [99]:
# Read data with correct types
dtype_specification = {'Building IRN': str, 'District IRN': str, "Street address":str, 'City and Zip code':str} 
AY2011 = pd.read_excel('./2010-2011/1011_LRC_BUILDING.xls', dtype=dtype_specification)

# Drop bad rows 
AY2011 = AY2011.dropna(subset=[AY2011.columns[0]])
AY2011 = AY2011.dropna(subset=[AY2011.columns[1]])
AY2011 = AY2011.dropna(subset=[AY2011.columns[2]])
AY2011 = AY2011.dropna(subset=[AY2011.columns[3]])


def clean2012(row):
    new_row = ({
        'District Name' : row[3],
        'District IRN' : row[2],
        'Building Name' : row[1],
        'Building IRN' : row[0],
        'Building Adress' : str(row[6])+ " "+str(row[7]),
        'Year':2011,
        'Preformance Index':row[94],
        'School Type': row[10],
        'AYP Met?' : row[101]
    })
    final_output.loc[len(final_output)] = new_row
##    print(new_row)
    return row


AY2011 = AY2011.apply(clean2011, axis=1)
final_output

,Competition,District Name,District IRN,Building Name,Building IRN,Building Adress,Year,Preformance Index,School Type,White,Asian,Black,Hispanic,AYP Met?
0,NaN,Ada Exempted Village,045187,Ada Elementary School,000059,"435 Grand Ave Ada, OH 45810-1013",2011,95.9,K-6,NaN,NaN,NaN,NaN,Not Met
1,NaN,Ada Exempted Village,045187,Ada High School,000067,"435 Grand Ave Ada, OH 45810-1013",2011,94.3,7-12,NaN,NaN,NaN,NaN,Met
2,NaN,Sandusky City,044743,Adams Junior High School,000083,"318 Columbus Ave Sandusky, OH 44870-2616",2011,92.8,7-8,NaN,NaN,NaN,NaN,Not Met
3,NaN,Meigs Local,048520,Meigs Primary School,000102,"36871 State Route 124 Middleport, OH 45760-9717",2011,93.9,K-2,NaN,NaN,NaN,NaN,Not Met
4,NaN,Meigs Local,048520,Meigs Intermediate School,000105,"36871 State Route 124 Middleport, OH 45760-9717",2011,94.1,3-5,NaN,NaN,NaN,NaN,Not Met
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3620,NaN,Northwestern Local,050575,Northwestern Elementary School,152116,"7334 N Elyria Rd West Salem, OH 44287-9790",2011,96.2,K-5,NaN,NaN,NaN,NaN,Met
3621,NaN,South-Western City,044800,Hayes Intermediate School,152132,"4436 Haughn Rd Grove City, OH 43123-3219",2011,95.7,5-6,NaN,NaN,NaN,NaN,Met
3622,NaN,Antwerp Local,048991,Antwerp Local Middle School,152157,"303 S. Harrmann Rd Antwerp, OH 45813",2011,96.5,7-8,NaN,NaN,NaN,NaN,Met
3623,NaN,East Muskingum Local,048835,Larry Miller Intermediate Elementary School,152280,"13125 John Glenn School Rd New Concord, OH 4...",2011,96.0,3-5,NaN,NaN,NaN,NaN,Met
3624,NaN,Jackson City,044156,Jackson Southview Elementary School,152298,"13842 State Route 93 Jackson, OH 45640-9761",2011,96.4,"P,K,1-5,SN",NaN,NaN,NaN,NaN,Met

## Year 2011 - 2012

In [84]:
# Read data with correct types
dtype_specification = {'Building IRN': str, 'District IRN': str, "Street address":str, 'City and Zip code':str} 
AY2012 = pd.read_excel('./2011-2012/1112_LRC_BUILDING.xls', dtype=dtype_specification)

# Drop bad rows 
AY2012 = AY2012.dropna(subset=[AY2012.columns[0]])
AY2012 = AY2012.dropna(subset=[AY2012.columns[1]])
AY2012 = AY2012.dropna(subset=[AY2012.columns[2]])
AY2012 = AY2012.dropna(subset=[AY2012.columns[3]])


def clean2012(row):
    new_row = ({
        'District Name' : row[3],
        'District IRN' : row[2],
        'Building Name' : row[1],
        'Building IRN' : row[0],
        'Building Adress' : str(row[6])+ " "+str(row[7]),
        'Year':2012,
        'Preformance Index':row[94],
        'School Type': row[10],
        'AYP Met?' : row[97]
    })
    final_output.loc[len(final_output)] = new_row
##    print(new_row)
    return row


AY2012 = AY2012.apply(clean2012, axis=1)
final_output

,Competition,District Name,District IRN,Building Name,Building IRN,Building Adress,Year,Preformance Index,School Type,White,Asian,Black,Hispanic,AYP Met?
0,NaN,Ada Exempted Village,045187,Ada Elementary School,000059,"435 Grand Ave Ada, OH 45810-1013",2012,102.0,K-6,NaN,NaN,NaN,NaN,Met
1,NaN,Ada Exempted Village,045187,Ada High School,000067,"435 Grand Ave Ada, OH 45810-1013",2012,102.2,7-12,NaN,NaN,NaN,NaN,Met
2,NaN,Sandusky City,044743,Adams Junior High School,000083,"318 Columbus Ave Sandusky, OH 44870-2616",2012,84.7,7-8,NaN,NaN,NaN,NaN,Not Met
3,NaN,Meigs Local,048520,Meigs Primary School,000102,"36871 State Route 124 Middleport, OH 45760-9717",2012,NaN,K-2,NaN,NaN,NaN,NaN,Not Met
4,NaN,Meigs Local,048520,Meigs Intermediate School,000105,"36871 State Route 124 Middleport, OH 45760-9717",2012,90.0,3-5,NaN,NaN,NaN,NaN,Not Met
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3574,NaN,Northwestern Local,050575,Northwestern Elementary School,152116,"7334 N Elyria Rd West Salem, OH 44287-9790",2012,100.6,K-5,NaN,NaN,NaN,NaN,Not Met
3575,NaN,South-Western City,044800,Hayes Intermediate School,152132,"4436 Haughn Rd Grove City, OH 43123-3219",2012,101.8,5-6,NaN,NaN,NaN,NaN,Met
3576,NaN,Antwerp Local,048991,Antwerp Local Middle School,152157,"303 S. Harrmann Rd Antwerp, OH 45813",2012,101.8,6-8,NaN,NaN,NaN,NaN,Met
3577,NaN,East Muskingum Local,048835,Larry Miller Intermediate Elementary School,152280,"13125 John Glenn School Rd New Concord, OH 4...",2012,103.3,3-5,NaN,NaN,NaN,NaN,Met
3578,NaN,Jackson City,044156,Jackson Southview Elementary School,152298,"13842 State Route 93 Jackson, OH 45640-9761",2012,105.5,"P,K,1-5,SN",NaN,NaN,NaN,NaN,Met

## Year 2012 - 2013

In [92]:
# Read data with correct types
dtype_specification = {'Building IRN': str, 'District IRN': str, "Street address":str, 'City and Zip code':str} 
AY2013 = pd.read_excel('./2012-2013/1213_LRC_BUILDING.xls', dtype=dtype_specification)

# Drop bad rows 
AY2013 = AY2013.dropna(subset=[AY2013.columns[0]])
AY2013 = AY2013.dropna(subset=[AY2013.columns[1]])
AY2013 = AY2013.dropna(subset=[AY2013.columns[2]])
AY2013 = AY2013.dropna(subset=[AY2013.columns[3]])


def clean2013(row):
    new_row = ({
        'District Name' : row[3],
        'District IRN' : row[2],
        'Building Name' : row[1],
        'Building IRN' : row[0],
        'Building Adress' : str(row[6])+ " "+str(row[7]),
        'Year':2013,
        'Preformance Index':row[17],
        'School Type': row[12],
    })
    final_output.loc[len(final_output)] = new_row
##    print(new_row)
    return row


AY2013 = AY2013.apply(clean2013, axis=1)
final_output

,Competition,District Name,District IRN,Building Name,Building IRN,Building Adress,Year,Preformance Index,School Type,White,Asian,Black,Hispanic,AYP Met?
0,NaN,Ada Exempted Village,045187,Ada Elementary School,000059,"435 Grand Ave Ada, OH 45810-1013",2013,100.689,Elementary School,NaN,NaN,NaN,NaN,NaN
1,NaN,Ada Exempted Village,045187,Ada High School,000067,"435 Grand Ave Ada, OH 45810-1013",2013,98.578,High School,NaN,NaN,NaN,NaN,NaN
2,NaN,Sandusky City,044743,Sandusky Middle School,000083,"318 Columbus Ave Sandusky, OH 44870-2616",2013,86.223,Middle School,NaN,NaN,NaN,NaN,NaN
3,NaN,Meigs Local,048520,Meigs Primary School,000102,"36871 State Route 124 Middleport, OH 45760-9717",2013,--,Elementary School,NaN,NaN,NaN,NaN,NaN
4,NaN,Meigs Local,048520,Meigs Intermediate School,000105,"36871 State Route 124 Middleport, OH 45760-9717",2013,90.325,Elementary School,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3455,NaN,Northwestern Local,050575,Northwestern Elementary School,152116,"7334 N Elyria Rd West Salem, OH 44287-9790",2013,101.643,Elementary School,NaN,NaN,NaN,NaN,NaN
3456,NaN,South-Western City,044800,Hayes Intermediate School,152132,"4436 Haughn Rd Grove City, OH 43123-3219",2013,97.050,Elementary School,NaN,NaN,NaN,NaN,NaN
3457,NaN,Antwerp Local,048991,Antwerp Local Middle School,152157,"303 S. Harrmann Rd Antwerp, OH 45813",2013,100.665,Middle School,NaN,NaN,NaN,NaN,NaN
3458,NaN,East Muskingum Local,048835,Larry Miller Intermediate Elementary School,152280,"13125 John Glenn School Rd New Concord, OH 4...",2013,101.548,Elementary School,NaN,NaN,NaN,NaN,NaN
3459,NaN,Jackson City,044156,Jackson Southview Elementary School,152298,"13842 State Route 93 Jackson, OH 45640-9761",2013,103.765,Elementary School,NaN,NaN,NaN,NaN,NaN

## 2013-2014

In [100]:
# Read data with correct types
dtype_specification = {'Building IRN': str, 'District IRN': str, "Street address":str, 'City and Zip code':str} 
AY2014 = pd.read_excel('./2013-2014/1314_LRC_BUILDING.xls', dtype=dtype_specification)

# Drop bad rows 
AY2014 = AY2014.dropna(subset=[AY2014.columns[0]])
AY2014 = AY2014.dropna(subset=[AY2014.columns[1]])
AY2014 = AY2014.dropna(subset=[AY2014.columns[2]])
AY2014 = AY2014.dropna(subset=[AY2014.columns[3]])


def clean2014(row):
    new_row = ({
        'District Name' : row[3],
        'District IRN' : row[2],
        'Building Name' : row[1],
        'Building IRN' : row[0],
        'Building Adress' : str(row[6])+ " "+str(row[7]),
        'Year':2014,
        'Preformance Index':row[17],
        'School Type': row[12],
        'Chronic Absenteeism Rate':row[105]
    })
    final_output.loc[len(final_output)] = new_row
##    print(new_row)
    return row


AY2014 = AY2014.apply(clean2014, axis=1)
final_output

,Competition,District Name,District IRN,Building Name,Building IRN,Building Adress,Year,Preformance Index,School Type,White,Asian,Black,Hispanic,AYP Met?
0,NaN,Ada Exempted Village,045187,Ada Elementary School,000059,"435 Grand Ave Ada, OH 45810-1013",2011,95.9,K-6,NaN,NaN,NaN,NaN,Not Met
1,NaN,Ada Exempted Village,045187,Ada High School,000067,"435 Grand Ave Ada, OH 45810-1013",2011,94.3,7-12,NaN,NaN,NaN,NaN,Met
2,NaN,Sandusky City,044743,Adams Junior High School,000083,"318 Columbus Ave Sandusky, OH 44870-2616",2011,92.8,7-8,NaN,NaN,NaN,NaN,Not Met
3,NaN,Meigs Local,048520,Meigs Primary School,000102,"36871 State Route 124 Middleport, OH 45760-9717",2011,93.9,K-2,NaN,NaN,NaN,NaN,Not Met
4,NaN,Meigs Local,048520,Meigs Intermediate School,000105,"36871 State Route 124 Middleport, OH 45760-9717",2011,94.1,3-5,NaN,NaN,NaN,NaN,Not Met
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7064,NaN,Northwestern Local,050575,Northwestern Elementary School,152116,"7334 N Elyria Rd West Salem, OH 44287-9790",2014,102.832,Elementary School,NaN,NaN,NaN,NaN,NaN
7065,NaN,South-Western City,044800,Hayes Intermediate School,152132,"4436 Haughn Rd Grove City, OH 43123-3219",2014,100.296,Elementary School,NaN,NaN,NaN,NaN,NaN
7066,NaN,Antwerp Local,048991,Antwerp Local Middle School,152157,"303 S. Harrmann Rd Antwerp, OH 45813",2014,101.370,Middle School,NaN,NaN,NaN,NaN,NaN
7067,NaN,East Muskingum Local,048835,Larry Miller Intermediate Elementary School,152280,"13125 John Glenn School Rd New Concord, OH 4...",2014,99.088,Elementary School,NaN,NaN,NaN,NaN,NaN
7068,NaN,Jackson City,044156,Jackson Southview Elementary School,152298,"13842 State Route 93 Jackson, OH 45640-9761",2014,103.886,Elementary School,NaN,NaN,NaN,NaN,NaN

## Year 2014 - 2015

In [105]:
# Read data with correct types
dtype_specification = {'Building IRN': str, 'District IRN': str, "Street address":str, 'City and Zip code':str} 
AY2015 = pd.read_excel('./2014-2015/1415_LRC_BUILDING.xls', dtype=dtype_specification)

# Drop bad rows 
AY2015 = AY2015.dropna(subset=[AY2015.columns[0]])
AY2015 = AY2015.dropna(subset=[AY2015.columns[1]])
AY2015 = AY2015.dropna(subset=[AY2015.columns[2]])
AY2015 = AY2015.dropna(subset=[AY2015.columns[3]])


def clean2015(row):
    new_row = ({
        'District Name' : row[3],
        'District IRN' : row[2],
        'Building Name' : row[1],
        'Building IRN' : row[0],
        'Building Adress' : str(row[6])+ " "+str(row[7]),
        'Year':2015,
        'Preformance Index':row[17],
        'School Type': row[12],
        'Chronic Absenteeism Rate':row[105]
    })
    final_output.loc[len(final_output)] = new_row
##    print(new_row)
    return row


AY2015 = AY2015.apply(clean2015, axis=1)
final_output

,Competition,District Name,District IRN,Building Name,Building IRN,Building Adress,Year,Preformance Index,School Type,White,Asian,Black,Hispanic,AYP Met?
0,NaN,Ada Exempted Village,045187,Ada Elementary School,000059,"435 Grand Ave Ada, OH 45810-1013",2014,96.591,9,NaN,NaN,NaN,NaN,NaN
1,NaN,Ada Exempted Village,045187,Ada High School,000067,"435 Grand Ave Ada, OH 45810-1013",2014,97.984,20,NaN,NaN,NaN,NaN,NaN
2,NaN,Sandusky City,044743,Sandusky Middle School,000083,"318 Columbus Ave Sandusky, OH 44870-2616",2014,64.647,1,NaN,NaN,NaN,NaN,NaN
3,NaN,Meigs Local,048520,Meigs Primary School,000102,"36871 State Route 124 Middleport, OH 45760-9717",2014,NC,0,NaN,NaN,NaN,NaN,NaN
4,NaN,Meigs Local,048520,Meigs Intermediate School,000105,"36871 State Route 124 Middleport, OH 45760-9717",2014,78.166,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3410,NaN,Northwestern Local,050575,Northwestern Elementary School,152116,"7334 N Elyria Rd West Salem, OH 44287-9790",2014,97.272,8,NaN,NaN,NaN,NaN,NaN
3411,NaN,South-Western City,044800,Hayes Intermediate School,152132,"4436 Haughn Rd Grove City, OH 43123-3219",2014,96.159,6,NaN,NaN,NaN,NaN,NaN
3412,NaN,Antwerp Local,048991,Antwerp Local Middle School,152157,"303 S. Harrmann Rd Antwerp, OH 45813",2014,93.390,8,NaN,NaN,NaN,NaN,NaN
3413,NaN,East Muskingum Local,048835,Larry Miller Intermediate Elementary School,152280,"13125 John Glenn School Rd New Concord, OH 4...",2014,96.065,8,NaN,NaN,NaN,NaN,NaN
3414,NaN,Jackson City,044156,Jackson Southview Elementary School,152298,"13842 State Route 93 Jackson, OH 45640-9761",2014,102.078,8,NaN,NaN,NaN,NaN,NaN

## Year 2015 - 2016

In [114]:
# Read data with correct types
dtype_specification = {'Building IRN': str, 'District IRN': str, "Street address":str, 'City and Zip code':str} 
AY2016 = pd.read_excel('./2015-2016/1516_BUILDING_ACHIEVEMENT.xls', dtype=dtype_specification)

# Drop bad rows 
AY2016 = AY2016.dropna(subset=[AY2016.columns[0]])
AY2016 = AY2016.dropna(subset=[AY2016.columns[1]])
AY2016 = AY2016.dropna(subset=[AY2016.columns[2]])
AY2016 = AY2016.dropna(subset=[AY2016.columns[3]])


def clean2016(row):
    new_row = ({
        'District Name' : row[3],
        'District IRN' : row[2],
        'Building Name' : row[1],
        'Building IRN' : row[0],
        'Building Adress' : str(row[6])+ " "+str(row[7]),
        'Year':2016,
        'Preformance Index':row[10],
        'School Type': "?"
    })
    final_output.loc[len(final_output)] = new_row
##    print(new_row)
    return row


AY2016 = AY2016.apply(clean2016, axis=1)
final_output

,Competition,District Name,District IRN,Building Name,Building IRN,Building Adress,Year,Preformance Index,School Type,White,Asian,Black,Hispanic,AYP Met?
0,NaN,Ada Exempted Village,045187,Ada Elementary School,000059,"435 Grand Ave Ada, OH, 45810-1013",2016,96.125,?,NaN,NaN,NaN,NaN,NaN
1,NaN,Ada Exempted Village,045187,Ada High School,000067,"435 Grand Ave Ada, OH, 45810-1013",2016,91.667,?,NaN,NaN,NaN,NaN,NaN
2,NaN,Sandusky City,044743,Sandusky Middle School,000083,"318 Columbus Ave Sandusky, OH, 44870-2616",2016,62.772,?,NaN,NaN,NaN,NaN,NaN
3,NaN,Meigs Local,048520,Meigs Primary School,000102,"36871 State Route 124 Middleport, OH, 45760-9717",2016,NC,?,NaN,NaN,NaN,NaN,NaN
4,NaN,Meigs Local,048520,Meigs Intermediate School,000105,"36871 State Route 124 Middleport, OH, 45760-9717",2016,70.394,?,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3382,NaN,Northwestern Local,050575,Northwestern Elementary School,152116,"7334 N Elyria Rd West Salem, OH, 44287-9790",2016,98.036,?,NaN,NaN,NaN,NaN,NaN
3383,NaN,South-Western City,044800,Hayes Intermediate School,152132,"4436 Haughn Rd Grove City, OH, 43123-3219",2016,93.498,?,NaN,NaN,NaN,NaN,NaN
3384,NaN,Antwerp Local,048991,Antwerp Local Middle School,152157,"303 S. Harrmann Rd Antwerp, OH, 45813",2016,89.474,?,NaN,NaN,NaN,NaN,NaN
3385,NaN,East Muskingum Local,048835,Larry Miller Intermediate Elementary School,152280,"13125 John Glenn School Rd New Concord, OH, 43...",2016,95.236,?,NaN,NaN,NaN,NaN,NaN
3386,NaN,Jackson City,044156,Jackson Southview Elementary School,152298,"13842 State Route 93 Jackson, OH, 45640-9761",2016,99.824,?,NaN,NaN,NaN,NaN,NaN

## Year 2016 - 2017

In [126]:
# Read data with correct types
dtype_specification = {'Building IRN': str, 'District IRN': str, "Street address":str, 'City and Zip code':str} 
AY2017 = pd.read_excel('./2016-2017/1617_BUILDING_ACHIEVEMENT.xls', dtype=dtype_specification)

# Drop bad rows 
AY2017 = AY2017.dropna(subset=[AY2017.columns[0]])
AY2017 = AY2017.dropna(subset=[AY2017.columns[1]])
AY2017 = AY2017.dropna(subset=[AY2017.columns[2]])
AY2017 = AY2017.dropna(subset=[AY2017.columns[3]])


def clean2017(row):
    new_row = ({
        'District Name' : row[3],
        'District IRN' : row[2],
        'Building Name' : row[1],
        'Building IRN' : row[0],
        'Building Adress' : str(row[6])+ " "+str(row[7]),
        'Year':2017,
        'Preformance Index':row[10],
        'School Type': "?"
    })
    final_output.loc[len(final_output)] = new_row
##    print(new_row)
    return row


AY2017 = AY2017.apply(clean2017, axis=1)
final_output

,Competition,District Name,District IRN,Building Name,Building IRN,Building Adress,Year,Preformance Index,School Type,White,Asian,Black,Hispanic,AYP Met?
0,NaN,Ada Exempted Village,045187,Ada Elementary School,000059,"435 Grand Ave Ada, OH, 45810-1013",2017,98.476,?,NaN,NaN,NaN,NaN,NaN
1,NaN,Ada Exempted Village,045187,Ada High School,000067,"435 Grand Ave Ada, OH, 45810-1013",2017,92.066,?,NaN,NaN,NaN,NaN,NaN
2,NaN,Sandusky City,044743,Sandusky Middle School,000083,"318 Columbus Ave Sandusky, OH, 44870-2616",2017,66.398,?,NaN,NaN,NaN,NaN,NaN
3,NaN,Meigs Local,048520,Meigs Primary School,000102,"36871 State Route 124 Middleport, OH, 45760-9717",2017,NC,?,NaN,NaN,NaN,NaN,NaN
4,NaN,Meigs Local,048520,Meigs Intermediate School,000105,"36871 State Route 124 Middleport, OH, 45760-9717",2017,74.145,?,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369,NaN,Northwestern Local,050575,Northwestern Elementary School,152116,"7334 N Elyria Rd West Salem, OH, 44287-9790",2017,99.907,?,NaN,NaN,NaN,NaN,NaN
3370,NaN,South-Western City,044800,Hayes Intermediate School,152132,"4436 Haughn Rd Grove City, OH, 43123-3219",2017,97.749,?,NaN,NaN,NaN,NaN,NaN
3371,NaN,Antwerp Local,048991,Antwerp Local Middle School,152157,"303 S. Harrmann Rd Antwerp, OH, 45813",2017,95.641,?,NaN,NaN,NaN,NaN,NaN
3372,NaN,East Muskingum Local,048835,Larry Miller Intermediate Elementary School,152280,"13125 John Glenn School Rd New Concord, OH, 43...",2017,97.655,?,NaN,NaN,NaN,NaN,NaN
3373,NaN,Jackson City,044156,Jackson Southview Elementary School,152298,"13842 State Route 93 Jackson, OH, 45640-9761",2017,102.817,?,NaN,NaN,NaN,NaN,NaN

## Year 2017 - 2018

In [130]:
# Read data with correct types
dtype_specification = {'Building IRN': str, 'District IRN': str, "Street address":str, 'City and Zip code':str} 
AY2018 = pd.read_excel('./2017-2018/17-18_Achievement_Building.xlsx', dtype=dtype_specification)

# Drop bad rows 
AY2018 = AY2018.dropna(subset=[AY2018.columns[0]])
AY2018 = AY2018.dropna(subset=[AY2018.columns[1]])
AY2018 = AY2018.dropna(subset=[AY2018.columns[2]])
AY2018 = AY2018.dropna(subset=[AY2018.columns[3]])


def clean2018(row):
    new_row = ({
        'District Name' : row[3],
        'District IRN' : row[2],
        'Building Name' : row[1],
        'Building IRN' : row[0],
        'Building Adress' : str(row[6])+ " "+str(row[7]),
        'Year':2018,
        'Preformance Index':row[10],
        'School Type': "?"
    })
    final_output.loc[len(final_output)] = new_row
##    print(new_row)
    return row


AY2018 = AY2018.apply(clean2018, axis=1)
final_output

,Competition,District Name,District IRN,Building Name,Building IRN,Building Adress,Year,Preformance Index,School Type,White,Asian,Black,Hispanic,AYP Met?
0,NaN,Ada Exempted Village,045187,Ada Elementary School,000059,"435 Grand Ave Ada, OH, 45810-1013",2018,99.326,?,NaN,NaN,NaN,NaN,NaN
1,NaN,Ada Exempted Village,045187,Ada High School,000067,"435 Grand Ave Ada, OH, 45810-1013",2018,90.416,?,NaN,NaN,NaN,NaN,NaN
2,NaN,Sandusky City,044743,Sandusky Middle School,000083,"318 Columbus Ave Sandusky, OH, 44870-2616",2018,70.178,?,NaN,NaN,NaN,NaN,NaN
3,NaN,Meigs Local,048520,Meigs Primary School,000102,"36871 State Route 124 Middleport, OH, 45760-9717",2018,NC,?,NaN,NaN,NaN,NaN,NaN
4,NaN,Meigs Local,048520,Meigs Intermediate School,000105,"36871 State Route 124 Middleport, OH, 45760-9717",2018,71.376,?,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3418,NaN,Northwestern Local,050575,Northwestern Elementary School,152116,"7334 N Elyria Rd West Salem, OH, 44287-9790",2018,97.691,?,NaN,NaN,NaN,NaN,NaN
3419,NaN,South-Western City,044800,Hayes Intermediate School,152132,"4436 Haughn Rd Grove City, OH, 43123-3219",2018,99.02,?,NaN,NaN,NaN,NaN,NaN
3420,NaN,Antwerp Local,048991,Antwerp Local Middle School,152157,"303 S. Harrmann Rd Antwerp, OH, 45813",2018,90.704,?,NaN,NaN,NaN,NaN,NaN
3421,NaN,East Muskingum Local,048835,Larry Miller Intermediate Elementary School,152280,"13125 John Glenn School Rd New Concord, OH, 43...",2018,99.925,?,NaN,NaN,NaN,NaN,NaN
3422,NaN,Jackson City,044156,Jackson Southview Elementary School,152298,"13842 State Route 93 Jackson, OH, 45640-9761",2018,101.787,?,NaN,NaN,NaN,NaN,NaN