## Dependencies

In [70]:
import pandas as pd

## Read Data

In [71]:
final_output = pd.read_excel('EdChoice Data Format.xlsx')
col_names = final_output.columns.tolist()
final_output

Empty DataFrame
Columns: [Competition, District Name, District IRN, Building Name, Building IRN, Building Adress, Year, Preformance Index, School Type, White, Asian, Black, Hispanic, AYP Met?, Chronic Absenteeism Rate]
Index: []

## Year 2008 - 2009

## Year 2009 - 2010

## Year 2010 - 2011

## Year 2011 - 2012

In [73]:
# Read data with correct types
dtype_specification = {'Building IRN': str, 'District IRN': str, "Street address":str, 'City and Zip code':str} 
AY2012 = pd.read_excel('./2011-2012/1112_LRC_BUILDING.xls', dtype=dtype_specification)

# Drop bad rows 
AY2012 = AY2012.dropna(subset=[AY2012.columns[0]])
AY2012 = AY2012.dropna(subset=[AY2012.columns[1]])
AY2012 = AY2012.dropna(subset=[AY2012.columns[2]])
AY2012 = AY2012.dropna(subset=[AY2012.columns[3]])


def clean2012(row):
    new_row = ({
        'District Name' : row[3],
        'District IRN' : row[2],
        'Building Name' : row[1],
        'Building IRN' : row[0],
        'Building Adress' : str(row[6])+ " "+str(row[7]),
        'Year':2012,
        'Preformance Index':row[94],
        'School Type': row[12],
    })
    final_output.loc[len(final_output)] = new_row
##    print(new_row)
    return row


AY2012 = AY2012.apply(clean2012, axis=1)
final_output

,Competition,District Name,District IRN,Building Name,Building IRN,Building Adress,Year,Preformance Index,School Type,White,Asian,Black,Hispanic,AYP Met?,Chronic Absenteeism Rate
0,NaN,Ada Exempted Village,045187,Ada Elementary School,000059,"435 Grand Ave Ada, OH 45810-1013",2012,89.1,Excellent with Distinction,NaN,NaN,NaN,NaN,NaN,--
1,NaN,Ada Exempted Village,045187,Ada High School,000067,"435 Grand Ave Ada, OH 45810-1013",2012,--,Excellent,NaN,NaN,NaN,NaN,NaN,65
2,NaN,Sandusky City,044743,Adams Junior High School,000083,"318 Columbus Ave Sandusky, OH 44870-2616",2012,--,Continuous Improvement,NaN,NaN,NaN,NaN,NaN,--
3,NaN,Meigs Local,048520,Meigs Primary School,000102,"36871 State Route 124 Middleport, OH 45760-9717",2012,--,Not Rated,NaN,NaN,NaN,NaN,NaN,--
4,NaN,Meigs Local,048520,Meigs Intermediate School,000105,"36871 State Route 124 Middleport, OH 45760-9717",2012,85.5,Effective,NaN,NaN,NaN,NaN,NaN,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7153,NaN,Northwestern Local,050575,Northwestern Elementary School,152116,"7334 N Elyria Rd West Salem, OH 44287-9790",2012,100.6,Excellent,NaN,NaN,NaN,NaN,NaN,NaN
7154,NaN,South-Western City,044800,Hayes Intermediate School,152132,"4436 Haughn Rd Grove City, OH 43123-3219",2012,101.8,Excellent with Distinction,NaN,NaN,NaN,NaN,NaN,NaN
7155,NaN,Antwerp Local,048991,Antwerp Local Middle School,152157,"303 S. Harrmann Rd Antwerp, OH 45813",2012,101.8,Excellent,NaN,NaN,NaN,NaN,NaN,NaN
7156,NaN,East Muskingum Local,048835,Larry Miller Intermediate Elementary School,152280,"13125 John Glenn School Rd New Concord, OH 4...",2012,103.3,Excellent,NaN,NaN,NaN,NaN,NaN,NaN
7157,NaN,Jackson City,044156,Jackson Southview Elementary School,152298,"13842 State Route 93 Jackson, OH 45640-9761",2012,105.5,Excellent with Distinction,NaN,NaN,NaN,NaN,NaN,NaN

## Year 2012 - 2013

In [ ]:
# Read data with correct types
dtype_specification = {'Building IRN': str, 'District IRN': str, "Street address":str, 'City and Zip code':str} 
AY2013 = pd.read_excel('./2012-2013/1213_LRC_BUILDING.xls', dtype=dtype_specification)

# Drop bad rows 
AY2013 = AY2013.dropna(subset=[AY2013.columns[0]])
AY2013 = AY2013.dropna(subset=[AY2013.columns[1]])
AY2013 = AY2013.dropna(subset=[AY2013.columns[2]])
AY2013 = AY2013.dropna(subset=[AY2013.columns[3]])


def clean2013(row):
    new_row = ({
        'District Name' : row[3],
        'District IRN' : row[2],
        'Building Name' : row[1],
        'Building IRN' : row[0],
        'Building Adress' : str(row[6])+ " "+str(row[7]),
        'Year':2013,
        'Preformance Index':row[17],
        'School Type': row[12],
        'Chronic Absenteeism Rate':row[105]
    })
    final_output.loc[len(final_output)] = new_row
##    print(new_row)
    return row


AY2013 = AY2013.apply(clean2013, axis=1)
final_output

## 2013-2014

In [ ]:
# Read data with correct types
dtype_specification = {'Building IRN': str, 'District IRN': str, "Street address":str, 'City and Zip code':str} 
AY2013 = pd.read_excel('./2013-2014/1314_LRC_BUILDING.xls', dtype=dtype_specification)

# Drop bad rows 
AY2013 = AY2013.dropna(subset=[AY2013.columns[0]])
AY2013 = AY2013.dropna(subset=[AY2013.columns[1]])
AY2013 = AY2013.dropna(subset=[AY2013.columns[2]])
AY2013 = AY2013.dropna(subset=[AY2013.columns[3]])


def clean2013(row):
    new_row = ({
        'District Name' : row[3],
        'District IRN' : row[2],
        'Building Name' : row[1],
        'Building IRN' : row[0],
        'Building Adress' : str(row[6])+ " "+str(row[7]),
        'Year':2013,
        'Preformance Index':row[17],
        'School Type': row[12],
        'Chronic Absenteeism Rate':row[105]
    })
    final_output.loc[len(final_output)] = new_row
##    print(new_row)
    return row


AY2013 = AY2013.apply(clean2013, axis=1)
final_output

## Year 2014 - 2015

## Year 2015 - 2016

## Year 2016 - 2017

## Year 2017 - 2018